# Compiled files
*.o
ircbot
config_tool
decrypt_tool
bot_config_gen*

# Logs and configs
*.log
.ircbot
.ircbot.cnf
.ircbot.log
.ircbot.pid
.ircbot.pass
*.b64

.claude
docsbot_config_gen
utils/decrypt_config
utils/encrypt_config
docs/*
